Source: ros-hydro-twist-mux-msgs
Section: misc
Priority: extra
Maintainer: Enrique Fernandez <enrique.fernandez@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-catkin, ros-hydro-message-generation
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-twist-mux-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-message-runtime
Description: The twist_mux msgs and actions package
